<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ranked Opportunities</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Top Ranked Bets</h1>
    <table>
        <tr>
            <th>Timestamp</th>
            <th>Event</th>
            <th>EV%</th>
            <th>Win Probability</th>
            <th>Weighted EV</th>
        </tr>
        {% for bet in ranked_bets %}
        <tr>
            <td>{{ bet['timestamp'] }}</td>
            <td>{{ bet['event_teams'] }}</td>
            <td>{{ bet['ev_percent'] }}</td>
            <td>{{ bet['win_probability'] }}</td>
            <td>{{ bet['weighted_ev'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
